
# macOS specific files
.DS_Store

# PyCharm related files
.idea/
.idea_modules/

# VSCode Info
.vscode/

# Autorest files
dist
inspector/
node_modules/
package-lock.json

# Temporary builds
autorest-azurefunction*gz
autorest-azure-functions*gz

# NPMrc files
.npmrc

# Test Related
test.json
test/**/dist
test/**/esm
test/**/node_modules
test-browser
.tmp
coverage
*/obj
*/bin
tscodegen*